body {
  background-color: #4c7ceb;
}

.home-container {
  background-color: #4c7ceb;
  height: 100vh;
  width: 100%;
}

.curriculum-container {
  background-color: #f9fafa;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 10px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
}
